@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway-Light.ttf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Arvo';
  src: url('../font/Arvo-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'ArvoB';
  src: url('../font/Arvo-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}
body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f1f1f1;
  font-family: Arvo, Georgia, serif;
  color: #222222;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  vertical-align: middle;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 800;
}
h1.inline,
h2.inline,
h3.inline {
  display: inline;
}
h1 {
  font-size: 8.5vw;
}
h2 {
  font-size: 4vw;
}
h3 {
  font-size: 2.5vw;
}
section {
  margin: 5%;
}
p {
  line-height: 170%;
}
a {
  color: #555555;
}
a:hover {
  color: #222222;
}
a:active {
  color: #cc0000;
}
cite {
  font-style: normal;
}
cite a {
  text-decoration: none;
}
header {
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
  background-color: #222222;
  padding: 1% 2.5%;
  text-align: center;
}
header h1 {
  color: #cc0000;
  margin: 0;
  width: 100%;
  padding: 0;
  font-size: 8.5vw;
}
header h2 {
  color: #f1f1f1;
  width: 100%;
  font-size: 2vw;
  font-weight: 200;
}
header ul {
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
header ul li {
  display: inline;
}
header ul li:before {
  content: '  \2605  ';
  color: #cc0000;
}
header ul li:first-child:before {
  content: '';
}
header ul li a {
  color: #f1f1f1;
  text-decoration: none;
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 200;
}
.idLink {
  font-family: Raleway, Helvetica, sans-serif;
  font-weight: 200;
  text-decoration: none;
  vertical-align: middle;
  font-size: 2vw;
  margin-right: 5px;
  color: #888888;
}
.idLink:hover {
  color: #222222;
}
.idLink:active {
  color: #cc0000;
}
