@red: #c00;
@black: #222;
@white: #eee;

@font-face {
 name: 'RalewayL';
 src: '../font/Raleway-Light.ttf';
}

@font-face {
 name: 'RalewayEB';
 src: '../font/Raleway-ExtraBold.ttf';
}

body,html {
 width: 100%;
 padding: 0;
 margin: 0;
}

header {
 text-transform: uppercase;
 width: 100%;
 background-color: @black;
 padding: 5%;
 h1 {
  color: @red;
  margin: 0;
  width: 100%;
  text-align:justify;
  padding: 0;
 }
 h2 {
  color: @white;
 }
 li {
  display: inline-block;
  &:before {
   content: '\&bull;';
  }
  &:first-child:before {
   content: '';
  }
  a {
   color: @white;
   text-decoration: none;
   font-family: RalewayEB, Helvetica, sans-serif;
  }
 }
}

h1,h2,h3,h4 {
 text-transform: uppercase;
 font-family: RalewayEB, Helvetica, sans-serif;
}