extends ./template.pug
block header
 h1.stretch cold war museum
 h2.stretch apush museum assignment | matthew sundberg
block content
 +section("introduction")
  p.
   citing #[+cite("bollocks")] #[+cite("bloody ell")]
   
 //- LAYOUT
 +section("layout")
  
 //- CATALOG
 +section("catalog")
  +item("poster","poster.png",1999,US)
   p This item is a poster. very fascinating
  +item("lol","sf.png",134,Sov)
   p fefefefefef
   
 //- SOURCES
 +section("sources")
  +bibliography(citations)
