extends ./template.pug
block header
 h1.stretch cold war museum
 h2.stretch apush museum assignment | matthew sundberg
block content
 +section("introduction")
  p.
   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean convallis scelerisque quam, sit amet bibendum nisl tristique at. Proin ullamcorper vel diam et maximus. Nunc dictum, nunc sed tempus lobortis, sem eros aliquam est, sit amet tincidunt mi ipsum vitae mi. In pulvinar sollicitudin mi, at aliquam dui aliquam vel. Vivamus erat nisl, feugiat ac ligula at, rhoncus tempus odio. Phasellus sagittis est tortor, eget ultrices urna finibus et. Morbi ac urna neque. Nulla iaculis vel libero eget dictum.
  p.
   Nulla molestie urna mauris. Aliquam venenatis massa ex, ut cursus orci placerat non. Vestibulum rutrum, lectus eu scelerisque condimentum, risus nibh efficitur neque, vitae volutpat leo sem porttitor mi. Vivamus consectetur ullamcorper pulvinar. Etiam sit amet magna nibh. Duis lectus turpis, mollis non commodo suscipit, fermentum mattis lorem. Donec iaculis sed lectus non ultricies. In sed egestas nisi. Nullam in gravida tortor. Fusce interdum magna ut magna efficitur tristique. In finibus elit rhoncus, varius massa at, suscipit turpis. Quisque sit amet turpis a erat vehicula laoreet vel eget sem. Fusce cursus blandit eros sit amet suscipit. Aenean ac dignissim sem.
  p.
   Quisque sed porttitor massa. Nam accumsan diam quis rhoncus cursus. Quisque urna dolor, imperdiet sit amet pulvinar quis, laoreet at ipsum. Phasellus vestibulum orci ut justo vestibulum fermentum. Nullam at enim vitae justo egestas venenatis in in neque. Pellentesque at ligula sed massa venenatis blandit. Donec et congue magna. In pulvinar varius massa, nec mollis tellus molestie sed. Nulla consequat mi vel augue condimentum semper.
  p.
   Mauris vitae metus lorem. Maecenas ut sapien malesuada, rhoncus velit vel, pulvinar dui. Fusce auctor tristique est, quis semper nulla molestie efficitur. Nunc suscipit erat eget iaculis dictum. Vivamus a ornare odio. Nunc pharetra tortor ac venenatis pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit nulla, pulvinar et vehicula a, fermentum nec risus. Vivamus fringilla est purus, a consectetur dolor scelerisque eleifend. Curabitur in ornare lacus. Proin massa velit, fermentum a interdum id, tristique sed augue. Maecenas sem purus, blandit sed neque in, laoreet ultrices nunc.
  p.
   In hac habitasse platea dictumst. Nullam fermentum euismod eros, eu luctus nunc finibus pharetra. Nunc vestibulum turpis a sapien blandit, a euismod libero pretium. Integer malesuada felis mi, nec faucibus ligula ultricies non. Ut facilisis, arcu id commodo malesuada, neque lorem posuere ante, sed blandit dolor ligula et sapien. Aliquam eget posuere leo. Curabitur pharetra urna quis orci congue, eget lacinia mi euismod. Aliquam diam lacus, congue a massa a, aliquet lacinia neque. Vestibulum nec venenatis velit. Nullam rhoncus orci nec sapien hendrerit pharetra. Nunc augue diam, fringilla a bibendum sed, porta vel augue. Cras id sapien posuere, tincidunt augue non, finibus diam. 
 //- LAYOUT
 +section("layout")
  
 //- CATALOG
 +section("catalog")
  +item("poster","poster.png",1999,US)
   p This item is a poster. very fascinating
  +item("lol","sf.png",134,Sov)
   p fefefefefef