include ./mixins.pug
doctype html
html
 head
  title= title
  each styleURL in stylesURLs
   link(rel='stylesheet',href="./css/"+styleURL,type='text/css')
 body
  header
   block header
   ul.inlineNav
    each name in links
     li: a(href='#'+name)= name 
  block content
  footer
   ul.inlineNav
    li: a(href='#')= title
    each name in links
     li: a(href='#'+name)= name 
    li made by #{author}
    li &copy;#{year}
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js",type="text/javascript")
  each scriptURL in scriptsURLs
   script(src="./js/"+scriptURL,type="text/javascript")
